@import '../scss/site-mixins';

@mixin FeedPage-feedItemIcon($content) {
  content: $content;
  font-family: 'FontAwesome';
}

.FeedPage-filterInputs {
  color: $gray;
  transition: color .25s;

  &:hover {
    color: $black;
  }
}

.FeedPage-filterInput {
  margin-right: 15px;
}

.FeedPage-filterLabel::before {
  font-size: 14px;
  margin-right: 5px;
}

.FeedPage-feedItem {
  margin: 20px 0;
  color: $gray;
  display: flex;
  align-items: center;

  > *:first-child {
    margin-right: 10px;
  }

  a {
    font-weight: bold;
  }
}

.FeedPage {
  .github_star_events::before {
    @include FeedPage-feedItemIcon($fa-var-star);
  }

  .goodreads_events::before {
    @include FeedPage-feedItemIcon($fa-var-book);
  }

  .github_project_events::before {
    @include FeedPage-feedItemIcon($fa-var-github-alt);
  }

  .delicious_events::before {
    @include FeedPage-feedItemIcon($fa-var-delicious);
  }
}

.FeedPage-feedItem {
  &::before {
    color: $black;
    font-size: 20px;
    margin-right: 10px;
  }
}
