@import '../scss/site-mixins';

.ProjectsPage-project {
  display: flex;
  margin-bottom: 30px;

  > * {
    flex: 1;
  }

  > *:first-child {
    margin-right: 10px;
  }

  > *:last-child {
    margin-left: 10px;
  }
}

.ProjectsPage-projectScreenshot {
  img {
    width: 100%;
  }
}

.ProjectsPage-projectDetails {
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.ProjectsPage-projectLinks {
  color: $gray;
  font-size: 13px;
}

.ProjectsPage-projectLinkWeb::before {
  font-family: 'FontAwesome';
  content: $fa-var-link;
  margin-right: 5px;
}

.ProjectsPage-projectLinkSource::before {
  font-family: 'FontAwesome';
  content: $fa-var-code;
  margin-right: 5px;
}
