@import './colors';

$fa-font-path: '../../node_modules/font-awesome/fonts';
@import 'font-awesome/scss/variables';
@import 'font-awesome/scss/mixins';
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff');
}
@import 'font-awesome/scss/core';
$breakpoint-medium: 1024px;
