.SideRevealLayout {
  > * {
    position: absolute;
    width: 100%;
  }
}

.SideRevealLayout-enter {
   opacity: 0;
}

.SideRevealLayout-animate-right {
  .SideRevealLayout-enter-active {
    opacity: 1;
    animation: animate-in-right .3s 1;
  }

  .SideRevealLayout-leave-active {
    animation: animate-out-right .3s 1;
  }
}

.SideRevealLayout-animate-left {
  .SideRevealLayout-enter-active {
    opacity: 1;
    animation: animate-in-left .3s 1;
  }

  .SideRevealLayout-leave-active {
    animation: animate-out-left .3s 1;
  }
}

@keyframes animate-in-left {
  from {
    transform: translateX(100%);

  }
  to {
    transform: translateX(0);
  }
}

@keyframes animate-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes animate-in-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes animate-out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
